@import "colors.scss";

.comment {
  margin: 8px 0;
}

.comment-author-avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin: 0 8px;
}

.comment-info {
  font-size: small;
  margin-bottom: 4px;
}

.comment-author {
  font-weight: bold;
}

.comment-age {
  color: $light-text-color;
  margin-left: 8px;
}

.comment-body {
  font-size: 14px;
}

.comment-body p {
  margin: 6px 0 0 0;
}
