@import "colors.scss";

html body {
  color: $primary-text-color;
  background: white;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}

paper-toolbar {
  background-color: $primary-color;
  color: $primary-color-text;
}

paper-card {
  display: block;
  margin-top: 12px;
}

paper-button[raised] {
  background: $action-color;
  color: $action-color-text;
}

paper-button[raised][disabled] {
  background: $action-color-light;
}

paper-button[compact] {
  padding: 8px 10px;
  font-size: 90%;
}

.avatar-small {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 2px;
}

.avatar-placeholder {
  background-color: #ccc;
}

// Demo only

.post-image-1 {
  width: 100px;
  height: 70px;
  background-color: #ccf;
  margin: 8px;
}

.post-image-2 {
  width: 120px;
  height: 70px;
  background-color: #cfc;
  margin: 8px;
}

.post-image-3 {
  width: 80px;
  height: 70px;
  background-color: #fcc;
  margin: 8px;
}

.post-image-4 {
  width: 90px;
  height: 70px;
  background-color: #fcf;
  margin: 8px;
}
