@import "colors.scss";

.post-list {
  padding: 4px 8px 4px 8px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.post-list-controls {
  margin: 14px 0;
}

.new-post-button, .sign-in-button {
  margin-right: 0;
}

.post-summary-list {
  width: 100%;
  border-spacing: 0;
  margin-top: 12px;
}

.post-summary-list th {
  color: $secondary-text-color;
  font-weight: normal;
  padding: 8px;
}

.post-summary-list td {
  padding: 4px 8px;
}

.post-summary-list .topic,
.post-summary-list .to {
  text-align: left;
}

.post-summary-list td.topic {
  color: $secondary-text-color;
  max-width: 55%;
}

.post-summary-list .author {
  color: $primary-text-color;
  font-weight: bold;
  margin-left: 8px;
}

.post-summary-list .author-sep {
  color: $secondary-text-color;
  margin: 0 6px 0 6px;
}

.post-summary-list .topic-link {
  color: $primary-text-color;
  display: block;
  text-decoration: none;
  margin-top: 6px;
}

.post-summary-list .to, {
  white-space: nowrap;
  width: 10%;
}

.post-summary-header th {
  border-bottom: 2px solid #ddd;
}

.post-summary-list .replies,
.post-summary-list .views,
.post-summary-list .activity {
  color: $secondary-text-color;
  text-align: center;
}

// Responsive UI: Hide columns if window is narrow.
@media (max-width: 700px) {
  .post-summary-list .views {
    display: none;
  }
}

@media (max-width: 600px) {
  .post-summary-list .replies {
    display: none;
  }
}

@media (max-width: 400px) {
  .post-summary-list .activity {
    display: none;
  }
}
