@import "colors.scss";

.post-form {
  margin: 4px 8px;
}

.post-form-field-body {
}

.post-form-buttons {
  margin: 8px 0;
}

.post-form-submit {
  margin-right: 0;
}

.fr-toolbar {
  border-top-width: 0;
  background-color: $editor-toolbar-color;
}

.post-editor {
}

paper-input-autocomplete-chips /deep/ paper-material.autocomplete-suggestion-container {
  max-height: 280px;
}
