$paper-blue-500: #2196f3;

.post-form {
  margin: 4px 8px;
}

.post-form-field-body {
}

.post-form-buttons {
  margin: 8px 0;
}

.post-form-submit {
  background: $paper-blue-500;
  color: white;
  margin-right: 0;
}

.fr-toolbar {
  border-top-width: 0;
  background-color: #ddd;
}

.post-editor {
}
